[Desktop Entry]
Name=Sparrow-GRS
Comment=Sparrow-GRS
Exec=/opt/sparrow-grs/bin/Sparrow-GRS %U
Icon=/opt/sparrow-grs/lib/Sparrow-GRS.png
Terminal=false
Type=Application
Categories=Unknown
MimeType=application/psbt;application/groestlcoin-transaction;x-scheme-handler/groestlcoin;x-scheme-handler/auth47;x-scheme-handler/lightning
